.row {
    color: white;
    margin-left: 20px;
  }
  @media (max-width: 768px) {
    .row {
      margin-left: 10px;
     
    }
    .row h2{
      display: inline-block;
      margin-top: 13px;
      border: 1px solid red;
      border-radius: 7px;
    }
  }
  
  .row_posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
  }
  @media (max-width: 768px) {
    .row_posters {
      padding: 5px;
      margin: 3px 0; 
    }
  }
  
  .row_posters::-webkit-scrollbar {
    display: none;
  }
  
  .row_poster {
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
  }
  
  .row_poster:hover {
    transform: scale(1.08);
  }
  
  .row_posterLarge {
    max-height: 250px;
  }
  
  .row_posterLarge:hover {
    transform: scale(1.09);
  }
  